<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<!-- Sidebar -->
	<nav id="sidebarMenu"
		class="collapse d-lg-block sidebar collapse bg-white">
		<div class="position-sticky">
			<div class="list-group list-group-flush mx-3 mt-4">
				<a th:href="@{/hod/viewClass}"
					class="list-group-item list-group-item-action py-2 ripple"
					aria-current="true"> <i
					class="fas fa-tachometer-alt fa-fw me-3"></i><span>View
						Department Classes</span>
				</a> <a th:href="@{/hod/addNewClassPage}"
					class="list-group-item list-group-item-action py-2 ripple active">
					<i class="fas fa-chart-area fa-fw me-3"></i><span>Add New
						Class</span>
				</a>

			</div>
		</div>
	</nav>
	<!-- Sidebar -->

	<!-- Navbar -->
	<nav id="main-navbar"
		class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button"
				data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
				aria-controls="sidebarMenu" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Brand -->
			<a class="navbar-brand" th:href="@{/hod/hodPortal}"> <img
				th:src="@{/ChatGPT Image Sep 3, 2025, 01_04_50 PM.png}" height="25"
				alt="" loading="lazy" />
				<span> University Management System </span>
			</a>
			<!-- Search form -->
		

			<!-- Right links -->

		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</html>