<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
	<!--  -->
	<link th:href=@{/css/student.css} rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<header th:insert="@{/fragments/hod_header.html}"> </header>

<body>
	<br>
	<br>
	<br>
	<br>
	<main id="main-content">

		<div class='container routineBlock'>
			<div th:if="${param.success}">
				<div class="alert alert-info">You have successfully registered
					to our awesome app!!!!</div>

			</div>
			<form th:action="@{/hod/saveCourse}" method="post" th:object="${course}">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password.</div>
				</div>

				<!-- logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>
				<div class="mb-3 row">
					<label class="form-label col-3">Enter the Course Name</label>
					<input type="text" class="form-control col-3" th:field="*{courseName}">
				</div>
				
				<div class="mb-3 row">
					<label for="semester" class="form-label col-3">Enter the credits</label><input type="text" th:field="*{credit}"
						class="form-control col-3" id="credit">

				</div>

				<div class="mb-3 row">
			<table class="table">
					<thead>
						<tr>
							<td><b>Select Department</b></td>
						</tr>
					</thead>
					<tr th:each="dept:${departments}">
						<td><input type="radio" class="form-check-input" th:value="${dept.id}" th:field="*{department}"
								>&nbsp;&nbsp;<label th:text="${dept.dName}"
								class="form-check-label"></label></td>
					</tr>
				</table>
				</div>
				<div class="mb-3">
					<!-- <table>
					
					<tr th:each="course, itemStat : *{courses}">
						<td><input
							th:field="*{course[__${itemStat.index}__].courseName}" /></td>
					</tr>

				</table> -->
					<br> <input type="submit" class="btn btn-primary form-control" id="submit_button">
				</div>
			</form>
		</div>
	</main>
</body>

</html>