<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link th:href=@{/css/student.css} rel="stylesheet" />

</head>
<header th:insert="@{/fragments/admin_header.html}"> </header>

<body>
	<main id="main-content">
		<br>
		<br>
		<div class='container justify-content-center'>
			<div class='d-flex'>
				<a th:href="@{/registerStudent}" class="btn btn-primary">Add New Student</a>&nbsp;&nbsp;<a
					th:href="@{/registerProfessor}" class="btn btn-primary">Add New Professor</a>
			</div>
			<table class='table'>
				<thead>
					<tr>
						<th scope="col"><a
								th:href="@{'/admin/adminPortal/'+${currentPage}+'?sortField=email&sortDir='+${reverseSortDir}}">User
								Email</a></th>
						<th scope="col"><a
								th:href="@{'/admin/adminPortal/'+${currentPage}+'?sortField=firstName&sortDir='+${reverseSortDir}}">User
								User First Name</a></th>
						<th scope="col"><a
								th:href="@{'/admin/adminPortal/'+${currentPage}+'?sortField=lastName&sortDir='+${reverseSortDir}}">User
								User Last Name</a></th>
						<th scope="col" class="row">
							<div><select class="form-select" id="role_Select" onchange="clicked()">
									<option selected>User Role (Select Option to Filter)</option>
									<option>Student</option>
									<option>Admin</option>
									<option>Professor</option>
									<option>Head Of Department</option>
								</select></div>
						</th>
						<th scope="col">Action</th>

					</tr>
				<tbody id="user_body">
					<tr th:each="user : ${users}">
						<td th:text="${user.email}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.roleName}"></td>
						<td><a th:href="@{/admin/updateUserPage/{id}(id = ${user.id})}"
								class="btn btn-primary">Update</a>&nbsp;&nbsp;<a
								th:href="@{/admin/deleteUserPage/{id}(id = ${user.id})}" class="btn btn-danger"
								value="Delete">Delete</a></td>
					</tr>
				</tbody>


				</thead>
			</table>
			<div th:if="${totalPages>1}" align="center" class="justify-content-center" id="pagenumbers">

				<div class="row justify-content-center" align="center">

					<div class="col-sm-1 pagination">
						<span th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"> <a
								th:if="${currentPage!=i}"
								th:href="@{'/admin/adminPortal/'+${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
								class="page-link">[[${i}]]</a> <span th:unless="${currentPage!=i}"
								class="page-item active"><a class="page-link">[[${i}]]</a></span>

						</span> <span class="page-item"> <a th:if="${currentPage<totalPages}"
								th:href="@{'/admin/adminPortal/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
								class="page-link"><b>Next</b></a></span> <span th:unless="${currentPage<totalPages}"
							class="page-item"><span class="page-link" style="color: black;"><b>Next</b></span></span>
						<span class="page-item"> <a th:if="${currentPage<totalPages}"
								th:href="@{'/admin/adminPortal/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
								class="page-link"><b>Last</b></a></span> <span th:unless="${currentPage<totalPages}"
							class="page-item"><span class="page-link" style="color: black;"><b>Last</b></span></span>
					</div>


				</div>
			</div>
		</div>
	</main>
</body>
<div class="container">

	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
		th:insert="@{/fragments/footer.html}">
</div>
<script th:inline="javascript">
	function clicked() {
		alert(document.getElementById("role_Select").value)
		$.ajax({
			url: "/admin/adminPortalAjax/" + 1 + "?sortField=email&sortDir=asc",
			method: "get",
			dataType: "json",
			data: {
				role: document.getElementById("role_Select").value
			}
			, success: function (response) {
				courseElement = document.getElementById("user_body")
				console.log(response.length)
				courseElement.innerHTML = "";
				response.forEach(element => {
					var updatelink=/*[[@{/admin/updateUserPage/}]]*/
					deleteLink=/*[[@{/admin/deleteUserPage/}]]*/
					i = 0
					newRow = courseElement.insertRow(i)
					cell = newRow.insertCell(0)
					cell.innerHTML = `${element.email}`
					cell2 = newRow.insertCell(1)
					cell2.innerHTML = `${element.firstName}`
					cell3 = newRow.insertCell(2)
					cell3.innerHTML = `${element.lastName}`
					cell4 = newRow.insertCell(3)
					cell4.innerHTML = `${element.roleName}`
					cell5 = newRow.insertCell(4)
					cell5.innerHTML = `<a href='${updatelink}${element.id}'
								class="btn btn-primary">Update</a>&nbsp;&nbsp;<a href="${deleteLink}${element.id}" class="btn btn-danger"
								value="Delete">Delete</a></td>`
					console.log(element)
					i++;


				});
				if (response.length > 10) {
					var innerHtml = '	<div class="row justify-content-center" align="center">'
					for (i = 0; i < response.length; i++) {
						innerHtml += `<span class="page-item"> <a
								
								"http://127.0.0.1/admin/adminPortal/${i}?sortField=email&sortDir=asc}"
								class="page-link">[[${i}]]</a></span>`
					}
					innerHtml += "</div>"

					document.getElementById("pagenumbers").innerHTML = innerHtml
				}
				else{
					document.getElementById("pagenumbers").innerHTML = ""
				}

			}
			, error: function (var1, var2, var3) {
				console.log(var1, var2, var3)
			}
		})
	}
</script>

</html>