<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
	<link th:href="@{/css/admin.css}" rel="stylesheet">
	<link th:href=@{/css/student.css} rel="stylesheet" />

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<header th:insert="@{/fragments/admin_header.html}"> </header>

<body>
	<main id="main-content" class="routineBlock">
		<br>
		<br>
		<div class='container-md '>
			<div th:if="${param.success}">
				<div class="alert alert-info">You have successfully registered
					to our awesome app!!!!</div>

			</div>
			<form th:action="@{/professorData}" method="post" th:object="${user}">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password.</div>
				</div>

				<!-- logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>
				<h1>
					<strong>Register Professor Details</strong>
				</h1>
				<br>
				<div class="mb-3 row">
					<label for="exampleFormControlInput1" class="form-label col col-sm-1">Enter your First Name</label>
					<input type="text" class="form-control col" id="st_name" th:field="*{firstName}">
				</div>
				<div class="mb-3 row">
					<label for="exampleFormControlInput1" class="form-label col col-sm-1">Enter your Last Name</label>
					<input type="text" class="form-control col" id="st_name" th:field="*{lastName}">
				</div>
				<div class="mb-3 row">
					<label for="exampleFormControlTextarea1" class="form-label col-sm-1">Enter
						your Email ID</label> <input type="text" class="form-control col" id="emailid"
						placeholder="Enter your Email ID" th:field="*{emailID}">
				</div>

				<div class="mb-3 row">
					<label for="exampleFormControlTextarea1" class="form-label col-sm-1">Enter
						your password</label> <input type="password" class="form-control col" id="emailid"
						placeholder="Enter your Password" th:field="*{password}">
				</div>
				<table class="table">
					<thead>
						<tr>
							<td><b>Select Department</b></td>
						</tr>
					</thead>
					<tr th:each="dept:${department}">
						<td><input type="radio" class="form-check-input" th:value="${dept.id}" th:field="*{dept_id}"
								th:onclick="'clicked('+${dept.id}+')'">&nbsp;&nbsp;<label th:text="${dept.dName}"
								class="form-check-label"></label></td>
					</tr>
				</table>
				<table class="table" id="course_table">
					<thead>
						<tr>
							<td><b>Select Courses</b></td>
						</tr>
					</thead>
					<tbody id="course_table_body"></tbody>
					<!-- <tr th:each="course:${courseList}">
						<td><input type="checkbox" class="form-check-input" th:value="${course}"
								th:field="*{courses}">&nbsp;&nbsp;<label th:text="${course}"
								class="form-check-label"></label></td>
					</tr> -->
				</table>
				<div class="mb-3 row">
					<span class="col-sm-1">Head of Department</span>
					<div class="col-sm-4">
						<input type="checkbox" id="toggle" class="offscreen" /><label for="toggle"
							class="switch"></label>
					</div>
					<input type="hidden" id='hodid' th:name="hod" value="false" />
				</div>
				<div class="mb-3">
					<!-- <table>
					
					<tr th:each="course, itemStat : *{courses}">
						<td><input
							th:field="*{course[__${itemStat.index}__].courseName}" /></td>
					</tr>

				</table> -->
					<!-- Rounded switch -->


					<br> <input type="submit" class="btn btn-primary form-control" id="submit_button">
				</div>
			</form>
		</div>
	</main>
</body>
<script type="text/javascript">
	function courseclick(item){
		alert(item);
	}
	function clicked(itemVal) {
		$.ajax({
			url: "/admin/"
				+ "getDepartmentAJAX/",
			method: "get",
			dataType:"json",
			data: {
				id: itemVal
			}
			, success: function (response) {
				courseElement = document.getElementById("course_table_body")
				courseElement.innerHTML="";
					response.forEach(element => {
						i = 0
						newRow = courseElement.insertRow(i)
						cell = newRow.insertCell(0)
						cell.innerHTML = `<input type='checkbox' class='form-check-input' value='${element}' name='courses' onclick='courseclick(${element})'>  <label value='${element}' class='form-check-label'>${element}</label>`
						console.log(element)
						i++;
					});
			}
		})
	}
	$(document).ready(function () {

		$("#toggle").change(function () {
			$("#hodid").val($(this).prop("checked"));
			alert($("#hodid").val())
		})

	});
</script>

</html>