<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href=@{/css/student.css} rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>
        Dashboard
    </title>

</head>
<header th:insert="fragments/hod_header :: hod_header"></header>

<body>
    <br>
    <br>
    <br>
    <main id="main-content">
        <div class="row  ">
            <div class="col-3 routineBlock text-center">

                <span>No. of [[${occRooms.status}]] Rooms<br>[[${occRooms.count}]]</span>

            </div>
            &nbsp;
            &nbsp;
            <div class="col-3 routineBlock text-center">

                <span>No. of [[${avRooms.status}]] Rooms<br>[[${avRooms.count}]]</span>

            </div>
        </div>
    </main>
</body>

</html>